openapi: 3.1.0
info:
  title: NAMO SETU API
  version: 1.0.0
  description: Versioned pilgrimage ecosystem API. Runtime FastAPI OpenAPI remains authoritative.
servers:
  - url: https://api.namosetu.in/api/v1
    description: Production
  - url: http://localhost:8000/api/v1
    description: Local
security:
  - bearerAuth: []
paths:
  /auth/register:
    post:
      tags: [Authentication]
      security: []
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/RegisterRequest"}
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema: {$ref: "#/components/schemas/TokenResponse"}
        "409": {$ref: "#/components/responses/Conflict"}
        "422": {$ref: "#/components/responses/ValidationError"}
  /auth/login:
    post:
      tags: [Authentication]
      security: []
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/LoginRequest"}
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema: {$ref: "#/components/schemas/TokenResponse"}
        "401": {$ref: "#/components/responses/Unauthorized"}
  /temples:
    get:
      tags: [Temples]
      security: []
      operationId: listTemples
      parameters:
        - {$ref: "#/components/parameters/Page"}
        - {$ref: "#/components/parameters/PageSize"}
        - {name: query, in: query, schema: {type: string, maxLength: 120}}
        - {name: state, in: query, schema: {type: string, maxLength: 120}}
      responses:
        "200":
          description: Temple page
          content:
            application/json:
              schema:
                type: object
                required: [items, meta]
                properties:
                  items: {type: array, items: {$ref: "#/components/schemas/Temple"}}
                  meta: {$ref: "#/components/schemas/PageMeta"}
  /temples/{temple_id}:
    get:
      tags: [Temples]
      security: []
      operationId: getTemple
      parameters:
        - {$ref: "#/components/parameters/TempleId"}
      responses:
        "200":
          description: Temple detail
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Temple"}
        "404": {$ref: "#/components/responses/NotFound"}
  /bookings:
    post:
      tags: [Bookings]
      operationId: createBooking
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema: {type: string, minLength: 16, maxLength: 80}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/BookingCreate"}
      responses:
        "201":
          description: Booking created
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Booking"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "409": {$ref: "#/components/responses/Conflict"}
  /ai/chat:
    post:
      tags: [AI]
      operationId: aiChat
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/AIChatRequest"}
      responses:
        "200":
          description: Grounded coordinated answer
          content:
            application/json:
              schema: {$ref: "#/components/schemas/AIChatResponse"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "429": {$ref: "#/components/responses/RateLimited"}
  /admin/dashboard:
    get:
      tags: [Administration]
      operationId: adminDashboard
      responses:
        "200":
          description: Tenant-scoped operational metrics
          content:
            application/json:
              schema: {type: object}
        "403": {$ref: "#/components/responses/Forbidden"}
components:
  securitySchemes:
    bearerAuth: {type: http, scheme: bearer, bearerFormat: JWT}
  parameters:
    Page: {name: page, in: query, schema: {type: integer, minimum: 1, default: 1}}
    PageSize: {name: page_size, in: query, schema: {type: integer, minimum: 1, maximum: 100, default: 20}}
    TempleId: {name: temple_id, in: path, required: true, schema: {type: string, format: uuid}}
  schemas:
    RegisterRequest:
      type: object
      additionalProperties: false
      required: [email, full_name, password]
      properties:
        email: {type: string, format: email}
        full_name: {type: string, minLength: 2, maxLength: 120}
        password: {type: string, minLength: 12, maxLength: 128}
    LoginRequest:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email: {type: string, format: email}
        password: {type: string, minLength: 1, maxLength: 128}
    TokenResponse:
      type: object
      required: [access_token, refresh_token, token_type, expires_in]
      properties:
        access_token: {type: string}
        refresh_token: {type: string}
        token_type: {type: string, const: bearer}
        expires_in: {type: integer}
    Temple:
      type: object
      required: [id, slug, name, category, city, state, description, latitude, longitude, rating, is_verified]
      properties:
        id: {type: string, format: uuid}
        slug: {type: string}
        name: {type: string}
        deity: {type: [string, "null"]}
        category: {type: string}
        city: {type: string}
        state: {type: string}
        description: {type: string}
        latitude: {type: number}
        longitude: {type: number}
        rating: {type: number, minimum: 0, maximum: 5}
        is_verified: {type: boolean}
    PageMeta:
      type: object
      required: [page, page_size, total]
      properties:
        page: {type: integer}
        page_size: {type: integer}
        total: {type: integer}
    BookingCreate:
      type: object
      additionalProperties: false
      required: [product_type, product_id, service_date, amount_inr]
      properties:
        product_type: {type: string, enum: [hotel, dharamshala, cab, guide, puja, donation]}
        product_id: {type: string, format: uuid}
        service_date: {type: string, format: date}
        amount_inr: {type: number, minimum: 0}
    Booking:
      allOf:
        - {$ref: "#/components/schemas/BookingCreate"}
        - type: object
          required: [id, reference, status, created_at]
          properties:
            id: {type: string, format: uuid}
            reference: {type: string}
            status: {type: string}
            created_at: {type: string, format: date-time}
    AIChatRequest:
      type: object
      additionalProperties: false
      required: [message]
      properties:
        conversation_id: {type: [string, "null"], format: uuid}
        message: {type: string, minLength: 2, maxLength: 4000}
        language: {type: string, default: en-IN}
    AIChatResponse:
      type: object
      required: [conversation_id, answer, confidence, agents, sources, suggestions, actions_executed]
      properties:
        conversation_id: {type: string, format: uuid}
        answer: {type: string}
        confidence: {type: number, minimum: 0, maximum: 1}
        agents: {type: array, items: {type: string}}
        sources: {type: array, items: {type: object}}
        suggestions: {type: array, items: {type: string}}
        actions_executed: {type: array, items: {type: string}}
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: {type: string}
            message: {type: string}
            details: {}
        request_id: {type: [string, "null"]}
  responses:
    Unauthorized: {description: Authentication required, content: {application/json: {schema: {$ref: "#/components/schemas/Error"}}}}
    Forbidden: {description: Permission denied, content: {application/json: {schema: {$ref: "#/components/schemas/Error"}}}}
    NotFound: {description: Resource not found, content: {application/json: {schema: {$ref: "#/components/schemas/Error"}}}}
    Conflict: {description: Resource conflict, content: {application/json: {schema: {$ref: "#/components/schemas/Error"}}}}
    ValidationError: {description: Invalid request, content: {application/json: {schema: {$ref: "#/components/schemas/Error"}}}}
    RateLimited: {description: Rate limit exceeded, headers: {Retry-After: {schema: {type: integer}}}}
